<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861446140206-4qkarmsunmgu0uocevp420klljvgt9c3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861446140206-4qkarmsunmgu0uocevp420klljvgt9c3</string>
	<key>API_KEY</key>
	<string>AIzaSyB4aTwqxYcNLaKVLj2HO58F3LNPYiL-74M</string>
	<key>GCM_SENDER_ID</key>
	<string>861446140206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.mobidax.demo</string>
	<key>PROJECT_ID</key>
	<string>mobidax-54f63</string>
	<key>STORAGE_BUCKET</key>
	<string>mobidax-54f63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861446140206:ios:9e727e0f404f3210a9cabf</string>
	<key>DATABASE_URL</key>
	<string>https://mobidax-54f63.firebaseio.com</string>
</dict>
</plist>